.search-container {
    display: inline-block
  }
  
  .search-icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
  }
  
  .search-input-wrapper {
    display: flex;
    align-items: center;
    left: 2rem;
    padding: 0px;
    margin: 0px;
    width:250px;
  }
  
  .search-input {
    border: none;
    border-bottom: 2px var(--overlay-color) solid;
    outline: none;
    font-size: medium;
    margin-right: 8px;
    background-color: transparent;
    color: var(--text-inverse);
    min-width: 0px;
    flex: 1;
  }
  .search-input::placeholder {
    color: var(--overlay-color); /* or your desired color */
  }
  .search-clear-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    padding: 8px;
  }
  
