:root {
  --primary-color: #001d1d;
  --secondary-color: #6b8a8a;
  --hover-color: #0d4949;
  --border-color: #395959;
  --text-color: #e3e3e3;
  --contrast-text-color: #7d9898;
  --muted-text-color: #6b8a8a;
  --button-disabled-color: #445e5e;
  --button-hover-color: #012a2a;
  --base-background-color:  #003333; /* Added variable for white background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--base-background-color); /* Applied white background */
}

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
}

header span {
  margin-right: 20px;
  font-weight: bold;
}

header .search-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
}

header input[type="text"] {
  flex-grow: 1;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
}

header .clear-btn {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: none;
  color: var(--secondary-color);
}



header button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--contrast-text-color);
  border-radius: 5px;
}



header button:disabled {
  background: var(--button-disabled-color);
  cursor: not-allowed;
  display: none;
}

.project-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 20px;
  background-color: var(--base-background-color); /* Ensures consistent base background */
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  height: 60px;
  background-color: var(--base-background-color); /* White background for projects */
}

.project.hidden {
  display: none;
  opacity: 0;
}

.project:hover {
  background: var(--hover-color);
}

.project input[type="checkbox"] {
  display: none;
  width:50%;
}

.project.selectable input[type="checkbox"] {
  display: block;
}

.project .checkbox-container {
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 40px;
}

.project.selectable .checkbox-container {
  display: flex;
}

.project-details {
  flex-grow: 1;
  margin: 10px;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  color:var(--text-color)
}

.project-meta {
  font-size: 12px;
  color: var(--muted-text-color);
  margin-top: 10px;
}

.project-buttons button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--contrast-text-color);
  border-radius: 5px;
}

button:not(.clear-btn):hover {
  background: var(--button-hover-color);
}

.pane-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.pane {
  background: var(--base-background-color); /* Ensure pane background is white */
  color:var(--text-color);
  width: 80%;
  height: 80%;
  border-radius: 10px;
  overflow-y: auto;
  padding: 20px;
  position: relative;
}
.pane h2 {
  margin-bottom: 10px;
}
.pane p {
  margin-top: 5px;
  font-size:14px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.photo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.photo-buttons button {
  background: var(--base-background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.photo-buttons button.active {
  background: var(--primary-color);
  color: var(--contrast-text-color);
  border-color: var(--primary-color);
}
